
environment = "2021Q3HOL"
create-rgs = true // crete new resource groups for more control of the budgets

azure_client_id       = "YOUR-APP-ID"
azure_client_secret   = "YOUR-APP-PASSWORD"
azure_subscription_id = "YOUR-SUBCRIPTION-ID"
azure_tenant_id       = "YOUR-TENANT-ID"

network-vnet-cidr = "10.0.0.0/24"
jump-subnet-cidr  = "10.0.0.0/25"
linux-subnet-cidr = "10.0.0.128/25"

admin-username = "labadmin"
admin-password = "YOUR-Strong-password"

rg_list = {
  // need in this format
  // "RG name" = <number of participants in each BU>
  // remove those below that you dont need
  "SG" = 10,
  "MY" = 8,
  "PAK" = 2,
  "CLM" = 1,
  "ID" = 5,
  "PH" = 6,
  "TH" = 8,
  "GCC" = 11,
  "WestIN" = 4,
  "NorthIN" = 4,
  "EastIN" = 4,
  "VN" = 4
}
