
environment = "2021Q3HOL"
create-rgs = true // crete new resource groups for more control of the budgets

azure_client_id       = "YOUR-APP-ID"
azure_client_secret   = "YOUR-APP-PASSWORD"
azure_subscription_id = "YOUR-SUBCRIPTION-ID"
azure_tenant_id       = "YOUR-TENANT-ID"

network-vnet-cidr = "10.0.0.0/24"
jump-subnet-cidr  = "10.0.0.0/25"
linux-subnet-cidr = "10.0.0.128/25"

admin-username = "labadmin"
admin-password = "YOUR-Strong-password"

rg_list = {
  // need in this format
  // "RG name" = <number of participants in each BU>
  "SG" = 10,
  "MY" = 8,
  "ID" = 5,
  "PH" = 6,
  "TH" = 8,
  "AE" = 11,
  "VN" = 4
}

specialist-ips = {
  // if you want to restrict connection to RDP from specific IP
  // then put list of IP in below section as example here
  // else just put "Internet" for no restriction
  // note the order in this list matches with the order in rg_list above
  "SG" = ["Internet"],
  "MY" = ["Internet"],
  "ID" = ["Internet"],
  "PH" = ["Internet"],
  "TH" = ["xx.yy.zz.34/32", "xx.yy.zz.240/32" ],
  "AE" = [ "xx.yy.zz.240/32" ],
  "VN" = ["Internet"],
}
